.Form{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.Form input {
    border:1px solid transparent;
    border-radius: 4px;
    outline: none;
    background-color: #fff;
    border-color: #dbdbdb;
    color: #363636;
    padding: 12px 220px 12px 12px;
}

.Form input:hover {
    transition:all ease 0.5s;
    border-color: rgb(185, 176, 176);
}